:root {
    --el-color-primary: var(--primary) !important;
    --el-text-color-primary: var(--black) !important;
    --el-color-primary-light-3: var(--primary-ligth) !important;
    --el-color-primary-light-5: var(--primary-ligth) !important;
    --el-color-primary-light-7: var(--primary-lightest) !important;
    --el-color-primary-light-8: var(--primary-lightest) !important;
    --el-color-primary-light-9: var(--primary-lightest) !important;
    --el-color-primary-dark-2: var(--primary-dark) !important;
    --el-transition-all: none !important;
    --el-transition-duration: 0 !important;
    --el-border-radius-base: var(--border-radius);
}

// Table
.el-table {
    --el-table-border-color: var(--border) !important;
    --el-table-row-hover-bg-color: var(--primary-lightest) !important;
    --el-table-text-color: var(--black) !important;
    margin-bottom: var(--base-margin);
    thead {
        --el-table-header-text-color: var(--black);
    }
    th:first-child .cell,
    td:first-child .cell {
        padding-left: 0;
    }
    th:last-child .cell,
    td:last-child .cell {
        padding-right: 0;
    }
}
.el-table--enable-row-transition .el-table__body td.el-table__cell {
    transition: none !important;
}

// Timeline
.el-timeline {
    padding-left: 0;
    &-item {
        margin-bottom: 0;
    }
}

// Radio group
.el-radio-group {
    &.stretch {
        width: 100%;
        .el-radio-button {
            flex-grow: 1;
            .el-radio-button__inner {
                width: 100%;
            }
        }
    }
    &.column {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;
    }
}

// Radio button
.el-radio-button__inner:not(.el-radio-button--small):not(.el-radio-button--large) {
    padding: 0 var(--base-margin) !important;
    line-height: calc(var(--field-height) - 2px);
}
.el-radio__label { white-space: normal; }

// Input
.el-input {
    --el-input-text-color: var(--black) !important;
}
.el-input__wrapper {
    box-sizing: border-box;
    height: var(--field-height);
}
.el-input__inner {
    --el-input-inner-height: var(--field-height) !important;
}
.el-input-number {
    width: 120px !important;
    --el-input-width: 120px;
}
.el-select-tags-wrapper {
    .el-tag {
        font-size: 14px;
        color: var(--black);
        font-weight: normal;
        letter-spacing: 0;
        text-transform: none;
    }
}

// Button
.el-button {
    padding: 0;
}
.el-button--primary {
    --el-button-hover-bg-color: var(--primary-dark) !important;
}

// Tag
.el-tag {
    --el-tag-font-size: 8px !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
h1 > .el-tag,
.g-row > .el-tag {
    vertical-align: middle;
    margin-left: var(--base-margin);
}
a + .el-tag {
    margin-left: calc(var(--base-margin) / 2);
}

// Descriptions
.el-descriptions__title {
    font-size: var(--h2-font-size) !important;
    font-weight: normal !important;
}
.el-descriptions__label {
    display: inline-block;
    min-width: 130px;
}

// Date picker
.el-date-editor {
    --el-date-editor-daterange-width: 240px !important;
}
.b-formrow-input .el-date-editor {
    --el-date-editor-width: 100% !important;
}
.el-date-editor.el-input, .el-date-editor.el-input__wrapper {
    height: var(--field-height);
}

// Dialog
.el-dialog {
    --el-dialog-border-radius: var(--el-border-radius-base) !important;
    --el-dialog-padding-primary: var(--base-padding) !important;
}

// Popper
.el-popper {
    max-width: 600px;
    max-height: 400px;
    overflow: hidden;
}